{% block content %}
<div class="container archival-holdings record-source-{{ source }}" id="holdings{{ record_id }}">
    <dl class="dl-horizontal archival-holdings-summary">
        {% if archival_holding.add_information is defined %}
        <dt>Quantity of Material</dt>
        <dd>{{ archival_holding.add_information }}</dd>
        {% endif %}
        {% if archival_holding.summary_statement is defined %}
            <dt>Summary</dt>
            <dd>{{ archival_holding.summary_statement }}</dd>
        {% endif %}
        {% if archival_holding.link_to_finding_aid is defined %}
        <dt>More Information</dt>
        <dd>
            <a href="{{ archival_holding.link_to_finding_aid }}" title="View Finding Aid for {{ doc_title }}">
                Resource Finding Aid
            </a>
        </dd>
        {% endif %}
        {% if items|length > 1 %}
            <dt>Request</dt>
            <dd><a class="btn small info" target="_blank" href='{{ archival_holding.request_url }}'>{{ archival_holding.request_label }}</a></dd>
        {% endif %}
    </dl>
    {% if items|length == 0 %}
     <div class="archival-items">
        <table class="table table-striped archival-item-list EXLLocationTable">
            <tbody>
            <tr class="EXLLocationTitlesRow">
                <th>Description</th>
                <th>Number</th>
                <th>Request Options</th>
            </tr>
            <tr>
                <td class="EXLLocationTableColumn1">
                    {{ archival_holding.library }}

                </td>
                <td class="EXLLocationTableColumn2">
                    {{ archival_holding.call_number }}
                </td>
                <td class="EXLLocationTableColumn3">
                    <a class="btn small info" target="_blank" 
                    href='{{ archival_holding.request_url }}'>
                    {{ archival_holding.request_label }}</a>
                </td>
            </tr>
           </tbody>
        </table>
     </div>
    {% endif %}
    {% if items|length != 0 %}
    <div class="archival-items">
        <table class="table .table-striped archival-item-list EXLLocationTable">
            <tbody>
            <tr class="EXLLocationTitlesRow">
                <th>Description</th>
                <th>Number</th>
                {% if items|length == 1 %}
                    <th>Request Options</th>
                {% endif %}
            </tr>
            {%  for item in items %}
                <tr class="archival-item-{{ item.call_number }} list-item-{{ loop.index }}">
                    <span style="display: none;">
                    {{ archival_holding.library }},
                    {{ item.location_code }},
                    {{ item.call_number }}
                    </span>
                    <td class="EXLLocationTableColumn2">
                        {% if item.series_details is defined %}
                            {{ item.series_details }}
                        {% endif %}
                    </td>
                    <td class="EXLLocationTableColumn1">
			{% if item.box_number is defined %}
                            {{ item.box_number }}
		        {% endif %}
		    </td>
                    {% if items|length == 1 %}
                       <td class="EXLLocationTableColumn3">
                            <a class="btn small info" target="_blank" href='{{ item.request_url }}'>{{ archival_holding.request_label }}</a>
                       </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
