

{% block content %}
<div class="archival-holdings" id="holdings{{ record_id }}">
    <ul class="archival-holdings-summary">
         <li>
            <span>Quantity of Material: </span>
            {{ archival_holding.add_information }}
        </li>
        {% if archival_holding.summary_statement is defined %}
            <li>
                <span>Summary: </span>
                {{ archival_holding.summary_statement }}
            </li>
        {% endif %}
        <li>
        <span>More Information: </span>
            <a href="{{ archival_holding.link_to_finding_aid }}" title="View Finding Aid for {{ doc_title }}">
                Source Finding Aid
            </a>
            &nbsp;|&nbsp;
            <a href="http://librarybeta.princeton.edu/searchit/archives/{{ record_id }}">
                Full Archival Holdings Page
            </a>
            &nbsp;|&nbsp;
            <a href="http://libwebdev.princeton.edu/searchit/record/{{ record_id }}.xml">
                Source PNX
            </a>
        </li>
    </ul>
    <div class="archival-items">
        <table class="archival-item-list EXLLocationTable">
            <thead>
            <tr>
                <th>Description</th>
                <th>Box Number</th>
                <th>Request Options</th>
            </tr>
            </thead>
            <tbody>
            {%  for item in items %}
                <tr class="archival-item-{{ item.call_number }} list-item-{{ loop.index }}">
                    <span style="display: none;">
                    {{ archival_holding.library }},
                    {{ item.location_code }},
                    {{ item.call_number }}
                    </span>
                    <td class="EXLLocationTableColumn2">
                        {% if item.series_details is defined %}
                            {{ item.series_details }}
                        {% endif %}
                    </td>
                    <td class="EXLLocationTableColumn1">{{ item.box_number }}</td>
                    <td class="EXLLocationTableColumn3">
                        <a class="btn small info" href='https://libweb10.princeton.edu/aeon/aeon.dll?'>Request this Box</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}