<!DOCTYPE html>
<html>
  <head>
    <title>Record {{ rec_id }}</title>
  </head>
  <body>
    <h1>Record: {{ rec_id }}</h1>
    
    <div id="record-data">
      {% if pnx_response|length == 0 %}
      <div id="no-results">
      	<p>No Source Records Available</p>
      </div>
      {% endif %}
    	{% for record in pnx_response %}
    	<h2>{{ record.voyager_id }}</h2>
    	  <ul>
    	  	<li>{{ record.deliveryCategory }}</li>
    	  	{% if record.fulltext is defined %}
    	  	  <li>{{ record.fulltext }}</li>
    	  	{% endif %}
    	  	<li>PUL Locations:
    	  	  <ul>
    	  			{% for location in record.locations %}
    	  			  <li>{{ location }}</li>
    	  			{% endfor %}
    	  		</ul>
    	  	</li>
    	  	<li>
    	  		<a href="{{ record.permalink }}">View in Primo</a> 
    	  	</li>
    	  </ul>
    	  <div id="search-permalink">
    			<p>
    				<a target="_blank" href="{{ record.deep_search_id_link }}" title="View Record in Primo">View as Deep Search Link</a>
    			</p>
    		</div>  
      {% endfor %}
    </div>
  </body>
</html>