<!DOCTYPE html>
<html>
  <head>
    <title>Record {{ rec_id }}</title>
  </head>
  <body>
    <h1>Record: {{ rec_id }}</h1>
    
    <div id="record-data">
    	{% for record in pnx_response %}
    	<h2>{{ record.voyager_id }}</h2>
    	  <ul>
    	  	<li>{{ record.deliveryCategory }}</li>
    	  	{% if record.fulltext is defined %}
    	  	  <li>{{ record.fulltext }}</li>
    	  	{% endif %}
    	  	<li>PUL Locations:
    	  	  <ul>
    	  			{% for location in record.locations %}
    	  			  <li>{{ location }}</li>
    	  			{% endfor %}
    	  		</ul>
    	  	</li>
    	  </ul>  
      {% endfor %}
    </div>
  </body>
</html>